@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}

html, body {
    height: 100%; 
    margin: 0; 
	overflow: hidden;
}

body{
	background: #d5cd9b;
	font-family: "FuturaHandwritten";
	font-size: 20px;
	color: #222;
	margin: 0;
	text-align: center;
}

h1{
    text-align: center;
	margin: 100px;
}

.container, .containerSocial{
	width: 1030px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -350px;
}

.containerSleep{
	width: 600px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -600px;
}

.containerEat{
	width: 600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
}

.containerExercise{
	width: 700px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -230px;
}

.containerRead{
	width: 800px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -170px;
}

.bear{  
	width: 100%;
	height: 100%;
	object-fit: cover;
}	

.button {
    background-color: #f3cbd3; 
	font-family: 'FuturaHandwritten';
    color: #222; 
    border: none;
    padding: 30px 50px; 
    font-size: 20px;
    cursor: pointer; 
    border-radius: 10x; 
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-decoration: none;
}

.back-button{
	background-color: #7c6d706a; 
    color: #222; 
    border: none;
    padding: 15px 15px; 
    cursor: pointer; 
    border-radius: 10x; 
	position: absolute;
	top: 12%;
	left: 7%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-decoration: none;
}

.button:hover {
    background-color: #f4a3b1;
}

.back-button:hover {
    background-color: #6b5e606a;
}

.prompt{
	width: 1030px;
	height: 900px;
	margin: auto;
	text-align: center;
	font-size: 30px;
	padding: 50px;
}

#sleep1, #eat1, #exercise1, #hobby1, #social1{
	top: 70%;
}

.bearSleep, .bearEat, .bearExercise, .bearReading, .bearsocial, .bearhappy {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#sleepTip, #eatTip, #exerciseTip, #hobbyTip, #socialTip{
	background-color: #7c6d706a; 
	top: 45%;
	margin-left: 620px;
	padding: 30px 35px; 
	border-radius: 80px; 
	overflow: hidden;
}

#sleepFunFact, #eatFunFact, #exerciseFunFact, #hobbyFunFact, #socialFunFact{
	background-color: #7c6d706a; 
	top: 60%;
	margin-left: 620px;
	padding: 20px 25px; 
	border-radius: 80px; 
}

.popup .overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: none;
}

.popup .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: #8f7b5d; 
	width: 450px;
	height: 250px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.popup .close-btn{
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	font-size: 25px;
	font-weight: 600;
}

.popup.active .overlay{
	display: block;
}

.popup.active .content{
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}

.comments{
	width: 1030px;
	height: 500px;
	margin: auto;
	text-align: center;
	position: relative;
	top: -60px;
}

@media only screen and (max-width: 600px) {
	.container{
		width: 100%;
	}
	.prompt{
		width: 65%;
		font-size: 19px;
	}
	.button {
		padding: 12px 12px; 
		font-size: 15px;
		top: 88%;
	}
	.back-button{
		padding: 8px 8px; 
		font-size: 17px;
		top: 5%;
	}
	#sleep1, #eat1, #exercise1, #hobby1, #social1{
		top: 78%;
	}	
	.comments{
		width: 80%;
		font-size: 17px;
	}

	.containerSleep{
		width: 100%;
		margin-top: -525px;
	}
	
	.containerEat{
		width: 100%;
		margin-top: -525px;
	}

	#sleepTip, #eatTip, #exerciseTip, #hobbyTip, #socialTip{
        margin-right: auto; 
        top: 5%; 
        padding: 10px 10px;
		margin-left: 50px;
	}

	#sleepFunFact, #eatFunFact, #exerciseFunFact, #hobbyFunFact, #socialFunFact{
		margin-right: auto; 
        top: 5%; 
        padding: 10px 10px;
		margin-left: 112px;
	}

	.containerExercise{
		width: 100%;
		margin-top: -665px;
	}

	h1{
		font-size: 30px;
		margin: 50px;
		padding: 30px 30px;
	}

	.containerRead{
		width: 100%;
		margin-top: -600px;
	}

	.containerSocial{
		width: 100%;
		margin-top: -800px;
	}
}

@media only screen and (min-width: 601px) {
	.container{
		max-width: 100%;
		
	}
	
}

@media only screen and (min-width: 768px) {
	.container{
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.container{
		max-width: 100%;
		
	}
}